$color-background-primary: #51aa72;
$color-background-secondary: antiquewhite;

$font-color-primary: black;
$font-color-secondary: white;

$font-primary: cantarell;
$font-title-primary: amadeusregular;
$font-title-secondary: pacificoregular;

$breakpoints: (
  tablette: 801px,
  desktop: 1281px,
);
