@font-face {
  font-family: "pacificoregular";
  src: url("../fonts/Pacifico/pacifico-webfont.woff2") format("woff2"), url("../fonts/Pacifico/pacifico-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cantarell";
  src: url("../fonts/cantarell/Cantarell-Regular-webfont.eot");
  src: url("../fonts/cantarell/Cantarell-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cantarell/Cantarell-Regular-webfont.woff2") format("woff2"), url("../fonts/cantarell/Cantarell-Regular-webfont.woff") format("woff"), url("../fonts/cantarell/Cantarell-Regular-webfont.ttf") format("truetype"), url("../fonts/cantarell/Cantarell-Regular-webfont.svg#cantarellregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amadeusregular";
  src: url("../fonts/amadeus/Amadeus-webfont.eot");
  src: url("../fonts/amadeus/Amadeus-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amadeus/Amadeus-webfont.woff2") format("woff2"), url("../fonts/amadeus/Amadeus-webfont.woff") format("woff"), url("../fonts/amadeus/Amadeus-webfont.ttf") format("truetype"), url("../fonts/amadeus/Amadeus-webfont.svg#amadeusregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #51aa72;
  padding: 0;
  margin: 0;
}

#blocpage {
  width: 85%;
  position: center;
  background-color: antiquewhite;
  margin: auto;
  padding: 20px;
}

p,
strong {
  color: black;
  font-family: cantarell;
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
}

h1 {
  color: white;
  font-family: amadeusregular;
  font-size: 4em;
  text-align: right;
  padding-right: 100px;
  margin-top: 0;
}

h2 {
  font-family: amadeusregular;
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-family: pacificoregular;
  font-size: 1.3em;
  padding-left: 20px;
}

h4 {
  text-align: center;
}

footer a {
  display: block;
  padding: 15px 40px;
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.custom-btn {
  width: 130px;
  margin: auto;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  justify-content: center;
  outline: none;
}

.btn-12 {
  position: relative;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  background: #00acee;
  background: linear-gradient(0deg, #51aa72, #51aa72);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

header {
  background-image: url("../images/bannierre.jpeg");
  background-size: 100%;
  height: 250px;
  margin: 0;
}

header p {
  color: white;
  font-family: pacificoregular;
  font-size: 1.3em;
  text-align: right;
  padding-right: 60px;
}

section {
  display: flex;
  padding: 10px;
  margin: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

article {
  flex: 2.8;
  padding: 10px;
  margin: auto;
}

aside {
  flex: 1;
  background-color: #51aa72;
  border-radius: 10px;
  padding: 2em 1em 3em 1em;
  border: 4px solid black;
  margin: auto;
}

.image {
  width: 100%;
}

aside img {
  border-radius: 160px;
  display: block;
  margin: auto;
  padding: inherit;
  transition: transform 200ms ease;
}
aside img:hover {
  transform: scale(1.2);
}

iframe {
  display: block;
  margin: auto;
  width: 80%;
}

.mobile {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-top: 3px solid black;
}

.aside {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1024px) {
  #blocpage {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header h1 {
    font-size: 2em;
    padding-right: 30px;
  }

  header p {
    padding-right: 20px;
  }

  header {
    font-size: 0.7em;
    height: 125px;
    padding: 0px;
    margin: 0;
  }

  section {
    flex-direction: column;
  }

  .mobile {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.3em;
  }

  footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
